:root
{
    --width: 30%;
}

#container
{
    padding: 10px 5px;
    padding-bottom: 20px;
    background-color: rgb(72, 71, 78);
    margin: 0 calc(50% - var(--width)/2);
    margin-top: 3%;
}
.text
{
    margin-left: 6%;
    color: white;
}
a
{
    margin-left: 6%;
    color: blue;
}
h2
{
    font-size: 1.2em;
}

#name
{
    font-size: 3em;
    margin-top: auto;
    margin-bottom: auto;
    color:  rgb(0, 174, 255);
}