:root
{
    --container_width: 15%;
    --button_width: 30%;
}

#container
{
    width: var(--container_width);
    margin: 0 calc(50% - calc(var(--container_width) / 2));
}
.text
{
    text-align: center;
    margin: 0 auto 5% auto;
    color: black;
}
.buttons
{
    width: var(--button_width);
    height: 2.5rem;
    font-size: 1.0rem;
    border: 2px solid black;
    border-radius: 6px;
    position: relative;
}

#title
{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

#click
{
    margin-right: calc((100% - var(--button_width)) - var(--button_width));
    background-color: dodgerblue;
    color: rgb(75, 75, 75);
    cursor: pointer;

    --border-size: 3px
}
#click::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid rgb(255, 215, 0);
    border-radius: 6px;
}
#click:focus::before
{
    animation: border-pop 150ms forwards;
}
@keyframes border-pop
{
    99%
    {
        top: calc(var(--border-size) * -2);
        left: calc(var(--border-size) * -2);
        right: calc(var(--border-size) * -2);
        bottom: calc(var(--border-size) * -2);
    }
    100%
    {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
#click:hover
{
    background-color: gold;
    border-color: gold;
    color: silver;
}

#reset
{
    background-color: crimson;
    color: gray;
    cursor: pointer;

    --border-size: 3px
}
#reset::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid rgb(0, 225, 255);
    border-radius: 6px;
}
#reset:focus::before
{
    animation: border-pop2 150ms forwards;
}
@keyframes border-pop2
{
    99%
    {
        top: calc(var(--border-size) * -2);
        left: calc(var(--border-size) * -2);
        right: calc(var(--border-size) * -2);
        bottom: calc(var(--border-size) * -2);
    }
    100%
    {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
#reset:hover
{
    background-color: rgb(0, 225, 255);
    border-color: rgb(0, 225, 255);
    color: silver;
}