#container
{
    --width: 30%;

    width: var(--width);
    margin: 0 calc(50% - (var(--width)/2));
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text
{
    margin: 10px 0;
}
#inputbox
{
    --width: 18%;
    width: var(--width);
    font-size: 1.1em;
}
#submit
{
    --width: 12%;
    --height: 28px;
    width: var(--width);
    height: var(--height);

    margin: 5px 0 0 0;
}
#middle_square
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 200px;
    height: 200px;
    margin: 30px calc(50% - 100px);
    border: 1px solid black;
    font-size: 30px;
}
#play_again
{
    width: 100px;
    height: 25px;
}