*
{
    margin-left: auto;
    margin-right: auto;
}

#names_table
{
    border-collapse: collapse;
}

.header
{
    width: 200px;
    padding: 10px 0px;
    background-color: gray;
    color: gold;
    border-collapse: collapse;
}

#first_name, #last_name, #full_name
{
    width: 200px;
    padding: 10px 0px;
    text-align: center;
    border-collapse: collapse;
}